# 环境配置，development 或 production
FLASK_ENV=development

# 验证码服务地址
CAPTCHA_URL=

# 字体文件路径
FONT_PATH=assets/msyh.ttc

# 开发环境 Cookie 密钥
DEV_SECRET_KEY=
# 开发环境数据库连接字符串
DEV_DATABASE_URL=

# 生产环境 Cookie 密钥
PROD_SECRET_KEY=your-production-secret-key-change-this-to-a-random-string
# 生产环境数据库连接字符串
PROD_DATABASE_URL=postgresql://zhixuelite:zhixuelite_password@db:5432/zhixuelite

# Cloudflare Turnstile 配置
TURNSTILE_ENABLED=true
CLOUDFLARE_TURNSTILE_SECRET_KEY=

# 日志级别
LOG_LEVEL=INFO
# 日志保存目录路径，留空则使用项目根目录下的 logs 文件夹
LOG_DIR=

# 前端 URL，逗号分割（如有多个，将使用第一个作为邮件验证中的 URL）
FRONTEND_URLS=http://localhost:5173

# 速率限制是否启用
RATELIMIT_ENABLED=true
# 本地运行 Redis ：redis://localhost:6379
# Docker 内网访问：redis://redis:6379
RATELIMIT_STORAGE_URI=redis://redis:6379

# 是否启用邮件验证功能 (true 或 false)
EMAIL_VERIFICATION_ENABLED=false

# SMTP 服务器配置 (仅在启用邮件验证时需要)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_STARTTLS=true
SMTP_USERNAME=your-email@gmail.com
SMTP_PASSWORD=your-password
SMTP_FROM_NAME=ZhiXue-Lite