# 环境配置，development 或 production
FLASK_ENV=development

# 验证码服务地址
CAPTCHA_URL=

# 开发环境 Cookie 密钥
DEV_SECRET_KEY=
# 开发环境数据库连接字符串
DEV_DATABASE_URL=

# 生产环境 Cookie 密钥
PROD_SECRET_KEY=
# 生产环境数据库连接字符串
PROD_DATABASE_URL=

# 日志级别
LOG_LEVEL=INFO
# 日志保存目录路径，留空则使用项目根目录下的 logs 文件夹
LOG_DIR=

# 前端 URL，逗号分割（如有多个）
FRONTEND_URL=http://localhost:5173